template(name="home")
  +HammerTouchArea(gestureMap=gestures)
    .page-container
      // Each Page
      .page-wrapper.active
        .page-main
          .img-wrapper
            img(src="http://cfs14.tistory.com/image/33/tistory/2008/10/27/13/46/4905479523678")
        .page-history

      // Each Page
      .page-wrapper
        .page-main
          .img-wrapper
            img(src="http://www.mediajeju.com/news/photo/201010/101069_75370_3453.jpg")
        .page-history
    //- #upload-photo
    //-   input(type="file")
    //-   button.btn Upload

