template(name="page")
  +HammerTouchArea(gestureMap=gestures)
    .page-container
      // UI Components (Menu)
      .page-ui-components#ui-wrapper
        #upload-photo
          if currentUser
            input(type="file")
          button.btn Upload

      .page-wrapper
        +each Trashes
          .page-item
            //- .page-inner
            .page-main
              .img-wrapper
                img(src="{{imageUrl}}")
            .page-comments
              h1  this is comment
              h1  this is comment
              h1  this is comment
              h1  this is comment