template(name="splash")
  .splash-container
    .splash-inner
      img.bullet(src="/img/splash/Jeju_assets-06.png")
      img.logo(src="/img/splash/Jeju_assets-05.png")
      img.halbe(src="/img/splash/Jeju_assets-04.png")